# Credit Card Fraud Detection Project

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('creditcard.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
normal = df[df.Class == 0]
fraud = df[df.Class == 1]

In [9]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [13]:
normal_sample = normal.sample(n=492)

In [23]:
new_df = pd.concat([normal_sample, fraud], axis =0)

In [24]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
87253,61601.0,1.143517,0.173655,0.433500,1.095217,-0.265922,-0.397817,0.011516,-0.024122,0.137894,...,-0.001331,-0.000940,-0.016274,0.062477,0.460866,-0.391133,0.033744,0.025416,26.99,0
168661,119326.0,-0.670695,0.877092,1.108943,-1.129557,0.152045,-0.054928,0.404696,0.056564,0.757917,...,-0.238636,-0.405561,-0.037278,0.585950,-0.181679,-0.360634,-0.451309,-0.423655,7.63,0
213647,139337.0,0.056099,0.696364,1.208392,0.343869,0.057213,-0.334459,0.332523,0.043017,0.196767,...,0.299967,0.971460,-0.142667,-0.101972,-0.347398,-0.629168,0.136377,0.063916,1.00,0
125455,77680.0,1.190837,1.294923,-1.468858,1.574305,0.842163,-1.611001,0.713885,-0.282971,-0.800932,...,-0.139216,-0.311671,-0.202023,0.225219,0.818201,-0.326105,0.039887,0.089997,1.00,0
253904,156485.0,2.172709,-0.733662,-1.411400,-0.642090,-0.200577,-0.165004,-0.474011,-0.023448,-0.530659,...,-0.636091,-1.313221,0.375026,0.225618,-0.356753,0.334989,-0.068562,-0.068274,3.14,0

In [25]:
X= new_df.drop('Class', axis =1)

In [26]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
87253,61601.0,1.143517,0.173655,0.433500,1.095217,-0.265922,-0.397817,0.011516,-0.024122,0.137894,...,-0.149345,-0.001331,-0.000940,-0.016274,0.062477,0.460866,-0.391133,0.033744,0.025416,26.99
168661,119326.0,-0.670695,0.877092,1.108943,-1.129557,0.152045,-0.054928,0.404696,0.056564,0.757917,...,0.072512,-0.238636,-0.405561,-0.037278,0.585950,-0.181679,-0.360634,-0.451309,-0.423655,7.63
213647,139337.0,0.056099,0.696364,1.208392,0.343869,0.057213,-0.334459,0.332523,0.043017,0.196767,...,-0.220378,0.299967,0.971460,-0.142667,-0.101972,-0.347398,-0.629168,0.136377,0.063916,1.00
125455,77680.0,1.190837,1.294923,-1.468858,1.574305,0.842163,-1.611001,0.713885,-0.282971,-0.800932,...,0.001932,-0.139216,-0.311671,-0.202023,0.225219,0.818201,-0.326105,0.039887,0.089997,1.00
253904,156485.0,2.172709,-0.733662,-1.411400,-0.642090,-0.200577,-0.165004,-0.474011,-0.023448,-0.530659,...,-0.631680,-0.636091,-1.313221,0.375026,0.225618,-0.356753,0.334989,-0.068562,-0.068274,3.14

In [27]:
Y = new_df['Class']

In [28]:
Y.head()

87253     0
168661    0
213647    0
125455    0
253904    0
Name: Class, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

# logistic Regression

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
model= LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [33]:
prediction = model.predict(X_test)

In [34]:
from sklearn.metrics import confusion_matrix

In [36]:
accuracy = confusion_matrix(Y_test, prediction)

In [37]:
accuracy

array([[92,  2],
       [12, 91]], dtype=int64)

In [38]:
from sklearn.metrics import accuracy_score

In [40]:
accuracy = accuracy_score(Y_test, prediction)
accuracy

0.9289340101522843

In [41]:
prediction

array([1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0],
      dtype=int64)